# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude override files as they are usually user-specific
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files
*.tfplan
*.tfplan.*

# Provider lock file (optional)
.terraform.lock.hcl

# Ignore sensitive variable definition files
*.tfvars
*.tfvars.json

# Local environment files
.env
